:root {
  --white: #FFFFFF;
  --primary: #FFEB69;
  --black: #000000;

  --opacity-primary: 1;
  --opacity-secondary: 0.8;
  --opacity-teriary: 0.5;
}

::-moz-selection, ::selection {
  -webkit-text-fill-color: var(--black);
  background: var(--primary);
  color: var(--black);
}

body {
  background: var(--black);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display","SF Pro Icons", "Segoe UI", Roboto, "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 1040px;
  min-height: 100vh;
}

header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 80px 40px;
}

header > a {
  margin-right: 8px;
}

section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0 40px;
}

footer {
  opacity: var(--opacity-teriary);
  padding: 80px 40px;
}

a {
  color: var(--white);
  font-weight: normal;
  opacity: var(--opacity-teriary);
  text-decoration: none;
}

a:hover {
  opacity: var(--opacity-secondary);
}

a.highlight {
  color: var(--primary);
  opacity: var(--opacity-primary);
}

a.highlight:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 0.2rem;
}

h3 {
  margin-bottom: 0.4rem;
}
